.logo-container {
    max-width: 150px;
  }
.logo-container {
    display: block; /* make sure logo is initially displayed */
  }
  
@media (max-width: 768px) { /* adjust breakpoint to your needs */
 .logo-container {
      display: none; /* hide logo on small screens */
    }
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
  }
  