.hero-section {
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

 
  }
  
  .hero-container {
   
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    position: relative;
  }
  
  .hero-text-container {

    padding-bottom: 30px;
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: none;
    position: relative;
    text-align: left;
    font-size: x-large;
  }

  h1 {
    text-align: left;
  }
  ul {
    text-align: left;
  }
  .hero-text-header {
    padding-top: 30px;
    max-width: none;
    position: relative;
    text-align: left;
    font-size: xx-large; 
  }

  .custom-button {
    background-color: #a492c7;
    border: none;
    color: #2e206d;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-button:hover {
    background-color: #8f6cb3;
    border: 2px solid #ff0066;
    color: #ff0066;
  }